.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .card-category-index {
    background-size: cover;
    background-position: center;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 20px;
  }

  .card-category_show {
    background-size: cover;
    background-position: center;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  .card-product-show {
    overflow: hidden;
    height: 120px;
    width: 100px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
  }

  .card-product-show  img {
    height: 500px;
    width: 400px;
    object-fit: cover;
  }

  .card-product-show  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .card-product-show  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-product-show  .card-product-infos-show  {
    padding: 16px;
  }


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-index {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-index {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-index {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
